*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: #090909;
  font-family: 'Poppins', sans-serif;
}
.hero-sec{
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 100px;
}
.logo-img{
  display: flex;

}
.img-1{
  padding: 25px;
}

ul {
  display: flex;
  gap: 70px;
  justify-content: center;
}
ul li a{
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
  font-weight: bold;
}
.nav-content{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 100px;
color: aliceblue;

}
.nav-content h1{
  font-size: 65px;
  padding: 40px;
  margin-right: 150px;
}
.nav-content h4{
  font-size: 30px;
  margin-right: 240px;
}
.nav-content p{
  padding: 20px;
  font-size: 20px;
  margin-left: 55px;
  padding: 40px;
}
.shop-1{
  width: 120px;
  height: 45px;
  background: #4e4d4d;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.shop-1:hover{
  background-color: #070707;
}

.btn-2{
  width: 300px;
  height: 60px;
  padding-right: 15px;
  background: #3e3d3d;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
  margin-right: 90px;
  border-radius: 10px;
  font-weight: bold; 
}
.btn-2:hover{
  background-color: #070707;
}
.logo-cont{
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 100px;
}
.logo-cont img{
  width: 110px;
}

/* section-hero-2 */
.icon-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;

  
}
.head-img{
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.icon-1{
  display: flex;
  color: aliceblue;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 30px;
  
}
.icon-2{
  display: flex;
  color: aliceblue;
  flex-direction: column;
  margin-bottom: 30px;
  
}
.icon-3{
  display: flex;
  color: aliceblue;
  flex-direction: column;
  margin-bottom: 30px;
  
}
.icon-4{
  display: flex;
  color: aliceblue;
  flex-direction: column;
  margin-left: 30px;
}
.icon-1 img{
  width: 20px;

}
.icon-2 img{
  width: 20px;

}
.icon-3 img{
  width: 20px;

}
.icon-4 img{
  width: 20px;

}
/* sec-3 */
.header-img2{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.sec-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 60px;

}
.content-btn p{
  color: aliceblue;
  font-size: 20px;
}
/* sec4-main */
.sec4-main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #181717;
  border-radius: 20px;
  width: 800px;
  height: 300px;
  margin-left: 300px;
}
.content-sec4 h3 {
  color: aliceblue;
}
.content-sec4 p{
  color: aliceblue;
}
.btn3{
  margin-top: 20px;
  height: 40px;
  width: 130px;
  padding: 3px;
  background-color: #0e0e0e;
  color: aliceblue;
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  padding-bottom: 4px;
  cursor: pointer;
  
}
/* main-sec-5 */

/* head-sec-5 */
.head-sec5{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;

}

.main-catelog1{
  display: flex;
}
.main-cat{
  display: flex;
  justify-content: center;
  gap: 90px;
  
 
}
.content{
  display: flex;
  justify-content: center;
  gap: 90px;
  color: aliceblue;
  padding: 20px;
  margin-bottom: 80px;
}

.cat-div1{
    margin-top: 110px;
    /* cat-div-background style */
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(74, 72, 72, 0.37);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  
}
.cat-div1 img{
  width: 200px;
  margin-bottom: 10px;
  margin-left: 50px;
  
}





.cat-div2{
 margin-top: 100px;
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.159), rgba(43, 42, 42, 0.037));
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(78, 75, 75, 0.414);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  
}
.cat-div2 img{
  width: 200px;
  margin-bottom:10px;
  margin-left: 50px;
}

.cat-div3{
  margin-top: 100px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
 backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 border-radius: 20px;
 border:1px solid rgba(68, 65, 65, 0.433);
 box-shadow: 0 8px 32px 0 rgba(72, 70, 70, 0.52);
 width: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 300px;
  
}
.cat-div3 img{
  width: 200px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.cat-div4{
  margin-top: 110px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
 backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 border-radius: 20px;
 border:1px solid rgba(255, 255, 255, 0.18);
 box-shadow: 0 8px 32px 0 rgba(63, 61, 61, 0.37);
 width: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 300px;
  
}
.cat-div4 img{
  width: 200px;
  margin-bottom: 10px;
  margin-left: 50px;

}


.cat-div5{
 
  margin-top: 100px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
 backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 border-radius: 20px;
 border:1px solid rgba(255, 255, 255, 0.18);
 box-shadow: 0 8px 32px 0 rgba(62, 61, 61, 0.37);
 width: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 300px;

  
}
.cat-div5 img{
  width: 200px;
  margin-bottom: 10px;
  margin-left: 50px;

}
/* footer */
footer{
  height: 250px;
  margin-right: 100px;

}
.head-1 h1{
  color: aliceblue;
}
.footer-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 90px;
  margin-left:100px;
  
}

.foot-con-2{
  display: flex;
  justify-content: center;
  gap: 180px;
  margin-top: 30px;
  margin-left: 240px;
}
/* .list1 */
.list1{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.list1 a{
  text-decoration: none;
  color: aliceblue;
}
/* .list2 */
.list2{
  display: flex;
  flex-direction: column; 
}
.list2 a{
  text-decoration: none;
  color: aliceblue;
}
.ul3{
  display: flex;
  flex-direction: row;
  
}
.ul3 li a i {
  color: aliceblue;
}
.input-btn{
  background-color: #504e4e;
}
.input-btn input {
  height: 40px;
  width: 250px;
  background-color: #4e4d4d;
  color: aliceblue;
  padding: 10px;
  font-size: 15px;
  border: none;
}
.input-btn button{
  background-color: #070707;
  color: aliceblue;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  border-color: #504e4e;
  margin-right: 8px;
  cursor: pointer;
  
}






